.header {
  background: linear-gradient(to top right, #4339A0, #4EC4CA);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: breakpoint(phone-lg)) {
    height: 150px;
  }
}

